<!-- views/addUser.ejs -->
<!doctype html>
<html>
<head>
    <title>CitySmart - User Management - Phone Authentication</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <!--<link rel="stylesheet" href="//unpkg.com/flatpickr/dist/flatpickr.min.css">-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/flatpickr"></script>
    <!--<script src="//unpkg.com/flatpickr"></script>-->
    <style>
        .banner {
            position: relative;
            width: 100%;
        }
        .button1 {
            width: 500px;
            height: 50px;
            border-radius: 15px;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            cursor: pointer;
            background-color: white;
            color: #f0ad4e;
            border: 1px solid #f0ad4e;
        }
        .button1:hover {
            background-color: #f0ad4e;
            color: white;
        }
        .form-group {
            margin: auto;
            width: 50%;
            padding: 10px;
            text-align: center;
        }
        #falldown {
            text-align: center;
        }
    </style>
</head>
<div class="navul" style="height: 80px; background: #000000;">
    <a class="navul" href="//aworldbridge.com" style="background: #000000; width: 500px; height: 80px;">
        <img class="banner" src="../images/NewWBBanner.jpg" style="width: 550px; height: 80px; margin: auto; display: block;" />
    </a>
</div>
<body ononline="onFunction()" onoffline="offFunction()">
<div class="container" style="width: 500px; padding: 0;">
    <h1 style="margin-top: 30px;"><span class="fa fa-list"></span>  Phone Authentication</h1>
    <!-- show any messages that come back with authentication -->
    <p id="falldown">In order to continue, enter the code consisting of letters, numbers, and symbols sent to your phone. <br>Then click <strong>Submit</strong>.</p>

    <form method="post" id="Psubmit" novalidate>
        <div class="form-group">
            <input type="password" id="VCode" placeholder="Enter Code Here" class="form-control" name="code" style="height: 50px; margin-bottom: 20px;" required>
        </div>
    <br>
    <button id="pauthSubmit" type="submit" class="button1" onclick="submitForm()"> Submit </button>
    </form>
    <hr style="margin-bottom: 10px;">
    <p style="text-align: center;"> <a href="/pauth">Didn't receive the code? Send another one.</a></p>
    <p style="text-align: center;">or</p>
    <p style="text-align: center;"> <a href="/admindetector">Try Another Way</a></p>
</div>
<br>
<script>
    let username = '<%= user.username %>';
    let userrole = '<%= user.userrole %>';
    let Code = '<%= Code %>';
    let VCode = $('#VCode');
    let clicksdog = 0;


    $(document).ready(function() {


        let today = new Date();
        let date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
        let time2 = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
        let dateTime = date + ' ' + time2;
        // document.getElementById("DATE").value = dateTime;

        console.log(Code);

        function timedRefresh() {
            setTimeout(function(){ window.location.replace("/"); }, 180000);
        }
        timedRefresh();

        alert("Your code will only be valid for three minutes.");

    })




    function submitForm (e) {
        // console.log($("#ksub").serialize());
        console.log("this");
        e.preventDefault();

        clicksdog++;
        console.log(VCode.val());
        console.log(Code);

        if(clicksdog > 3 ) {
            window.location.replace("/");
            alert("Login attempts exceeded!");
        } else {
            window.onbeforeunload = function() {
            return confirm("Are you sure you want to leave this page? Your code will become invalid.");
        };
            window.addEventListener("beforeunload", function(event) {
                event.returnValue = "Are you sure you want to leave this page? Your code will become invalid.";
            });
        }

        if (VCode.val() === "") {
            alert("Please make sure the code has been entered.");
        } else if (VCode.val() === Code) {
            console.log("pass");

            document.getElementById("Psubmit").setAttribute("action","/psubmit");

            $.ajax({
                type: "post",
                url: "/psubmit",
                dataType: 'json',
                data: $("#Psubmit").serialize(),
                success: function (result) {
                    console.log(result);
                    alert("Success!");
                },
                beforeSend: function () {
                    document.getElementById("Psubmit").setAttribute("action","/psubmit");
                }
            })
        } else {
            alert("Invalid code.");

        }
    }
    //document.getElementById("pauthSubmit").disabled = false;

    function onFunction() {
        alert ("You are now online.");
    }

    function offFunction() {
        alert ("Your are offline. Some functionality may be unavailable.");
    }
</script>
</body>
</html>
